.footer-container {
  margin-top: auto;
}

.footer-container__section {
  height: 146px;
}

.inner-footer {
  margin-top: auto;
}

.inner-footer__container
{
  height: 132px;
}

.footer-container__content {
  background: url("../../img/line.png") center top no-repeat;
}

.footer {
  width: 1142px;
  margin-left: 180px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
  margin-bottom: 4%;
}

.footer__col--align--right {
  justify-content: flex-end;
}